PORT = 8000
CONFIG = '{"user":"username-here","password":"password-here","server":"localhost","database":"database-name-here","options":{"encrypt":false,"trustServerCertificate":true},"port":1433}'
JWT_SECRET = 'your-jwt-key-here'