PORT = 8000
CONFIG = '{
"user":"your-username-here",
"password":"your-password-here",
"server":"localhost",
"database":"your-database-name-here",
"options":{"encrypt":false,"trustServerCertificate":true},"port":1433}
'

JWT_SECRET = 'your-jwt-key-here'
NODE_ENV = "your-node-environment-variable-here [can be 'development' OR 'production']"